@charset "utf-8";

html,
body {
  width: 100%;
  height: 100%;
}
h1 {
	font-size: 26px;
	line-height: 36px;
}

.slideout-menu {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
  width: 256px;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  display: none;
}

.slideout-panel {
  position: relative;
  z-index: 1;
  will-change: transform;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden;
}

.slideout-open .slideout-menu {
  display: block;
}

.fancybox-inner{
	overflow: visible !important;
}
.bold{
}
.underline{
	text-decoration: underline;
}
.white{
	color: #FFF;
}
.b{
	position: relative;
}
.b-wide-block{
	position: relative;
	max-width: 1600px;
	width: 100%;
	min-width: 1080px;
	margin: 0px auto;
	background-color: #FFF;
}
.b-block{
	text-align: left;
	position: relative;
	max-width: 1000px;
	width: calc(100% - 40px);
	margin: 0px auto;
}
.b-absolute{
	position: absolute;
	top: 0px;
	left: 50%;
	margin-left: -500px;
}
.table {
	display: table;
}
.row {
	display: table-row;
}
.cell {
	display: table-cell;
}
.show {
	display: block !important;
}
.hide {
	display: none;
}
input::-webkit-input-placeholder {
	color: #434343;
}
input:-moz-placeholder {
	color: #434343;
}
h3{
	font-size: 24px;
}
.b-icon{
	position: relative;
}
.b-icon:before{
	background-repeat: no-repeat;
	background-image: url('../i/sprite.png');
	background-size: 289px;
	position: absolute;
	content: "s";
	font-size: 0px;
}
.b-orange-butt{

}
	.b-orange-butt:hover{
		
	}
.b-btn-green {
	/* color: #ffffff; */
	/* font-size: 12px; */
	/* line-height: 22px; */
	/* display: inline-block; */
	/* background-color: #687734; */
	/* border-radius: 100px; */
	/* padding: 10px 20px 8px 20px; */
	/* border: none; */
	/* cursor: pointer; */
}
	.b-btn-green:hover {
		/* background-color: #a0762c; */
	}
.slick-dots {
	position: absolute;
	display: inline-block !important;
	bottom: 15px;
	left: calc((100% - 200px)/2);
	width: 200px;
	text-align: center;
}
	.slick-dots li {
		display: inline-block;
		/* height: 36px; */
	}
.mobile-only {
	display: inline-block !important;
}
.not-mobile {
	display: none !important;
}
body {
  width: 100%;
  height: 100%;
  min-width: 200px;
}

.slideout-menu {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
  width: 200px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  display: none;
}

.slideout-panel {
  position: relative;
  z-index: 1;
  will-change: transform;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden;
}

.slideout-open .slideout-menu {
  display: block;
}	
.b-left-block {
	background-color: #B2AD88;
	width: 200px;
	height: 100%;
	position: fixed;
	overflow-y: auto;
	left: 0;
}
	.b-left-block .b-block {
		width: 152px;
		padding-top: 40px;
	}
		.b-logo {
			display: block;
			width: 140px;
			height: 35px;
			background-repeat: no-repeat;
			background-image: url('../i/logo-sand@2x.png');
			background-size: 140px;
			background-position: 50% 50%;
		}
		.b-left-block .b-logo{
			margin-bottom: 30px;
		}
		.b-menu {
			margin-bottom: 0;
		}
			.b-left-block .b-menu li {
				margin-bottom: 5px;
				padding-left: 14px;
			}
			.b-left-block .b-menu a {
				font-size: 12px;
				line-height: 12px;
				color: #ffffff;
				text-transform: uppercase;
				letter-spacing: 1px;
				padding: 8px 10px 6px 10px;
				box-sizing: border-box;
				border: 1px solid transparent;
				border-radius: 100px;
				display: inline-block;
			}
			.b-left-block .b-menu a:hover {
				border: 1px solid #FFF;
			}
			.b-left-block .b-menu li.active a{
				border: 1px solid #F2EBDA;
				color: #F2EBDA;	
			}
		.b-contacts {

		}
			.b-contacts h3,.b-contacts a {
				font-size: 12px;
				line-height: 22px;
				text-transform: uppercase;
				letter-spacing: 1px;
			}
			.b-left-block .b-contacts h3 {
				color: #ffffff;
			}
			.b-left-block .b-contacts p a {
				font-size: 14px;
				color: #F2EBDA;
			}	
			.b-contacts-market {height: 50px;margin-bottom: 2px;}
			.b-contacts-garden	{

			}
.b-body-block {
	width: 100%;
	min-width: 100%;
}
	.b-header {
		background-image: url('../i/header.jpg');
		background-repeat: no-repeat;
		background-size: auto 626px;
		background-position: 100% 0;
		width: 100%;
		/* height: 627px; */
		/* padding-bottom: 48px; */
		overflow: hidden;
	}
	.b-header .b-logo {
		background-image: url('../i/logo-green@2x.png');
	}
		.b-header .b-block {
			box-sizing: border-box;
			padding-top: 25px;
			/* padding-bottom: 52px; */
		}
			.b-header .b-menu {
				width: 100%;
				margin-bottom: 56px;
				text-align: right;
				display: none;
				}
			.b-header .b-menu li{
				display: inline-block;
				margin: 0px 13px;
			}	
			.b-header .b-menu li:last-child {
				margin-right: 0px;
			}
			.b-header .b-menu a {
				color: #687734;
				font-size: 12px;
				line-height: 22px;
				display: inline-block;
				letter-spacing: 0.8px;
			}	
			.b-header .b-menu li.active a,
			.b-header .b-menu a:hover {
				color: #a0762c;
			}	
			.b-search-block {
				text-align: left;
				margin-bottom: 27px;
			}
				.b-search-block .b-search-block-bottom>span {
					/* display: inline-block; */
					vertical-align: middle;
					line-height: 50px;
					margin-right: 22px;
				}
				.b-search-block-top .icon-search {
					vertical-align: middle;
					width: 35px;
					height: 35px;
					background-color: #687734;
					border: 2px solid;
					border-radius: 50%;
					position: relative;
					float: right;
					margin-right: 20px;
				}
				.b-search-block-top .icon-search:before {
					color: #ffffff;
					position: absolute;
					top: 8px;
					left: 8px;
				}
				.b-search-block form{
					display: inline-block;
					position: relative;
					vertical-align: middle;
					width: calc(100% - 180px);
					text-align: left;
				}	
				.b-search-block-top	{width: 100%;margin-bottom: 43px;}	
				.b-search-block-bottom	{
					width: 100%;
					text-align: right;
				}				
				.b-search-block .b-search-block-top>span {
					color: #A0762C;
					font-size: 16px;
					line-height: 21px;
					display: inline-block;
					vertical-align: middle;
					margin-right: 28px;
					/* margin-bottom: 24px; */
				}
				.b-search-block .icon-menu {
					display: inline-block;
					vertical-align: middle;
					/* margin-bottom: 24px; */
					width: 35px;
					height: 35px;
					position: relative;
					border-radius: 50%;
					border: 2px solid;
					float: right;
					background-color: #687734;
				}
				.b-search-block .icon-map-marker {
					color: #4A4A4A;
					font-size: 16px;
					line-height: 21px;
					display: inline-block;
					vertical-align: middle;
					margin-right: 24px;
					border-bottom: 1px dashed #4A4A4A;
					position: relative;
					/* margin-bottom: 24px; */
					margin-top: 15px;
					margin-left: 20px;
					position: relative;
				}	
				.icon-map-marker:hover {
				/* background-color: transparent; */
				border-color: transparent;
				}
				.b-search-field {
					position: relative;
					height: 50px;
					background-color: #ffffff;
					padding: 5px;
					box-sizing: border-box;
					border-radius: 100px;
					display: inline-block;
					margin-right: 30px;
					width: 100%;
				}
					.b-search-field a {
						display: block;
						position: absolute;
						right: 0;
						top: 0;
						z-index: 2;
						width: 50px;
						height: 50px;
						box-sizing: border-box;
						padding: 16px 20px 16px 10px;
						cursor: pointer;
					}	
				.b-search-field input {
					display: inline-block;
					width: 100%;
					height: 40px;
					background-color: #ffffff;
					border-radius: 100px;
					border: 1px solid #E9E9E9;
					padding: 0 0 2px 26px;
					box-sizing: border-box;
					font-size: 14px;
					line-height: 19px;
					position: relative;
				}
					.b-search-field:after {
						content: '.';
						font-size: 0;
						position: absolute;
						top: 0;
						left: 0;
						display: block;
						border: 1px solid #C6C6C6;
					}
					.b-search-field:after {

					}					
					.b-search-field input::-webkit-input-placeholder {color:#C6C6C6;}
					.b-search-field input::-moz-placeholder          {color:#C6C6C6;}
					.b-search-field input:-moz-placeholder           {color:#C6C6C6;}
					.b-search-field input:-ms-input-placeholder      {color:#C6C6C6;}					
				.b-btn-search {
					display: block;
					position: absolute;
					right: 0;
					top: 16px;
					background-color: transparent;
					border: none;
					font-size: 0;
				}
		.b-cart-button-cont{
			display: inline-block;
			vertical-align: middle;
		}
			.b-btn-cart {
				height: 50px;
				box-sizing: border-box;
				display: inline-block;
				vertical-align: middle;
				font-size: 18px;
				line-height: 26px;
				padding: 13px 26px 13px 60px;
				position: relative;
				float: right;
			}
			.b-product-slider {
				/* margin-top: 53px; */
				margin-bottom: 35px;
				width: 100%;
				height: initial;
				background-color: #F7F3E9;
				border-radius: 15px;
				overflow: hidden;
				-webkit-box-shadow: 0px 13px 50px rgba(0,0,0,0.2);
				-moz-box-shadow: 0px 13px 50px rgba(0,0,0,0.2);
				box-shadow: 0px 13px 50px rgba(0,0,0,0.2);
			}
				.b-slider-item {
					display: block;
					height: initial;
				}
					.b-slider-item h2 {
						font-size: 24px;
						line-height: 30px;
						color: #A0762C;
						margin-bottom: 16px;
						max-height: 65px;
						/* overflow: hidden; */
					}	
					.b-slider-item p {
						font-size: 16px;
						line-height: 24px;
						color: #687734;
						margin-bottom: 25px;
						max-height: 96px;
						overflow: hidden;
					}											
					.b-slider-item .b-block {
						width: calc(100% - 15%);
						padding: 35px 0;
						padding-bottom: 65px;
						height: initial;
					}
						.b-slider-text {
							/* display: inline-block; */
							/* width: 50%; */
							/* vertical-align: middle; */
							/* margin-right: 40px; */
							/* text-align: left; */
						}
						.b-slider-img {
							display: inline-block;
							width: calc(50% - 44px);
							vertical-align: middle;
							text-align: center;
						}
						.b-btn-green {

						}
				.b-img {
					display: inline-block;
					background-repeat: no-repeat;
					background-size: contain;
					background-position: 50% 50%;
					width: 45%;
					height: 282px;
					margin: 0 auto;
					vertical-align: middle;
				}
	.b-content {background: #ffffff;}
			.b-content .b-block {
				padding-bottom: 45px;
			}
				.b-popular {
					padding-top: 20px;
					margin-top: -20px;
				}
				.b-catalog-container {
					margin-bottom: -25px;
				}
					.b-product-card {
						width: calc((100% - 29px)/2);
						margin-right: 25px;
						border: 2px solid #F2EBDA;
						border-radius: 15px;
						box-sizing: border-box;
						height: 421px;
						padding: 24px;
						display: inline-block;
						margin-bottom: 25px;
						position: relative;
					}
					.b-product-card:nth-child(3n) {
						margin-right: 24px;
					}
						.b-product-card:hover{
							border: 2px solid #687734;
						}
					.b-label{
						position: absolute;
						width: 123px;
						height: 35px;
						background: url(/bitrix/components/bitrix/catalog.section/templates/.default/images/stick.png) left center no-repeat;
						color: #fff;
						text-align: center;
						text-shadow: 0 1px 0 #ba3434;
						line-height: 35px;
						white-space: nowrap;
						overflow: hidden;
						font-size: 13px;
						left: -2px;
						top: 15px;
					}
					.b-label.green{
						background: url(../../components/bitrix/catalog.section/popular/images/stick-green.png) left center no-repeat;
						text-shadow: 0 1px 0 #218a21;
					}
					.b-product-card:nth-child(4n) {
						margin-right: 0px;
					}
					.b-product-url {
						cursor: pointer;
					}
						.b-product-card .b-img {
							background-repeat: no-repeat;
							background-size: contain;
							background-position: 50% 50%;
							width: 100%;
							height: 230px;
							margin-bottom: 14px;
						}
						.b-product-card h3 {
							font-size: 16px;
							line-height: 24px;
							color: #4A4A4A;
							height: 76px;
							overflow: hidden;
							margin-bottom: 7px;
						}
							.b-product-card h3:hover  {
								text-decoration: underline;
							}										
						.b-product-card span {
							font-size: 20px;
							line-height: 24px;
							color: #687734;
							display: inline-block;
							width: calc(100% - 116px);
							vertical-align: middle;
						}
						.b-product-card .icon-rub {
						width: 12px;
						height: 14px;
						padding-left: 2px;
						padding-top: 0;
						}
							.b-product-card .icon-rub:before {
								color: #687734;
								position: absolute;
								bottom: 0;
							}
						.b-product-card .b-btn-green {
							display: inline-block;
							vertical-align: middle;
							padding: 10px 20px 8px 20px;
						}
	.b-footer {
		background-image: url('../i/mobile-footer.jpg');
		background-repeat: no-repeat;
		background-size: 100% auto;
		background-position: 0 0;
		width: 100%;
		height: auto;
	}
			.b-footer .b-block {
				padding: 40px 0;
				text-align: center;
			}
				.b-footer-menu-cont {
					height: 230px;
					background-color: #F7F3E9;
					box-sizing: border-box;
					padding: 30px 40px;
					margin-bottom: 37px;
					border-radius: 10px;
					box-sizing: border-box;
					text-align: left;
					-webkit-box-shadow: 0px 7px 50px rgba(0,0,0,0.2);
					-moz-box-shadow: 0px 7px 50px rgba(0,0,0,0.2);
					box-shadow: 0px 7px 50px rgba(0,0,0,0.2);
				}
					.b-logo-contacts {margin-right: 34px;}
						.b-footer .b-logo {
							background-image: url('../i/logo-green@2x.png');
							margin-bottom: 22px;
						}
						.b-contacts h3 {
							color: #A0762C;
							line-height: 16px;
						}
						.b-contacts a {
							display: block;
							font-size: 14px;
							color: #A0762C;
							line-height: 22px;
						}						
					.b-footer-menu {
						display: table;
						width: 50%;
						max-width: 200px;
						float: none !important;
					}
						.b-footer-col {
							display: table-cell;
							padding-left: 0;
							width: calc(100%/3);
						}
						.b-footer-col:nth-child(1) {

						}
						.b-footer-col:nth-child(2) {display: table;/* width: 100px; */margin-right: 34px;}
						.b-footer-col:nth-child(3) {
							min-width: 160px;
							/* width: 50%; */
							/* max-width: 200px; */
						}
							.b-footer-col h3 {
								font-size: 16px;
								line-height: 22px;
								color: #687734;
								margin-bottom: 4px;
							}
							.b-footer-col li a {
								font-size: 14px;
								line-height: 26px;
								color: #A0762C;
								text-transform: none;
							}
							.b-footer-col li a:hover {
								border-bottom: 1px solid #A0762C; 
							}							
							.b-footer-col input {
								font-size: 14px;
								line-height: 28px;
								color: #A0762C;
								border: none;
								border-bottom: 1px solid #A0762C;
								background-color: transparent;
								margin-bottom: 24px;
								padding-top: 8px;
								width: 100%;
							}
							.b-footer-col .b-btn-green {
								padding: 4px 15px 2px 15px;
								line-height: 28px;
							}
								.b-footer-col input::-webkit-input-placeholder {color:rgba(160,118,44,0.4);}
								.b-footer-col input::-moz-placeholder          {color:rgba(160,118,44,0.4);}
								.b-footer-col input:-moz-placeholder           {color:rgba(160,118,44,0.4);}
								.b-footer-col input:-ms-input-placeholder      {color:rgba(160,118,44,0.4);}
					.b-copiright {
						font-size: 14px;
						line-height: 22px;
						color: #A0762C;
						text-transform: uppercase;
					}
						.b-copiright a {
							color: #687734;
						}
							.b-copiright a:hover {
								text-decoration: underline;
							}	
.b-inner{

}	
.b-text{
}
	sup{
		display: inline-block;
    	margin-top: -10px;
	}
	.b-text h1,.b-text h2,.b-text h3,.b-text h4,.b-text h5,.b-text h6,.b-text a,.b-text p,.b-text ul {
		width: 100%;
		text-align: left;
	}
	.b-text b{
		font-weight: normal;
	}
	.b-text h1 {
		font-size: 30px;
		line-height: 34px;
		text-transform: uppercase;
		margin-bottom: 16px;
		color: #A0762C;
	}
	.b-text h2 {
		font-size: 24px;
		margin-top: 26px;
		line-height: 30px;
		margin-bottom: 16px;
		color: #A0762C;
	}
	.b-text h1 + h2{
		margin-top: 16px;
	}
	.b-text h3 {
		font-size: 20px;
		line-height: 26px;
		margin-top: 24px;
		margin-bottom: 12px;
		color: #4A4A4A;
	}
	.b-text img + h3{
		margin-top: 0px;
	}
	.b-text img + h2{
		margin-top: 10px;
	}
	.b-text h4 {
		font-size: 16px;
		line-height: 24px;
		margin-top: 30px;
		margin-bottom: 5px;
	}
	.b-text p {
		line-height: 26px;
		color: #4A4A4A;
	}
	.b-text a {
		text-decoration: underline;
	}
		.b-text a:hover {
			text-decoration: none;
		}
	.b-text ol {
	    list-style:none;
	  }
    .b-text ol li {
		margin: 0;
		padding: 0;
		margin-left: 21px;
		padding-left: 10px;
		list-style: decimal;
		}	
	.b-text ul {
	}
	.b-text ul li {
		margin: 0;
		padding: 0;
		margin-left: 21px;
		padding-left: 4px;
		list-style: disc;
	}
	.b-text li {
		font-size: 16px;
		line-height: 26px;
		color: #4A4A4A;
	}		
	.b-text img {
		margin-top: 24px;
		width: 100%;
		margin-bottom: 20px;
		height: auto;
	}
.b-text .table {
	margin-top: 10px;
	display: inline-block;
}
.b-text .table {
	width: 100%;
}
.b-text	table {
	width:100%;
	-moz-border-radius:5px; /* FF1+ */
	-webkit-border-radius:5px; /* Saf3-4 */
	border-radius:6px;
	box-shadow: 0 4px 14px rgba(0,0,0,0.1);
	-moz-box-shadow: 0 4px 14px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0 4px 14px rgba(0, 0, 0, 0.1);
	}
	.b-text th, td {
		padding: 14px 28px 14px;
	}
	.b-text th {
		color: #ffffff;
	}
	.b-text th:nth-child(2n+1) {
	    background: #687734;
	}
	.b-text th:nth-child(2n) {
	    background: #70832e;
	}	
	.b-text th:first-child {
	    border-radius: 6px 0 0 0;
	}
	.b-text th:last-child {
	    border-radius: 0 6px 0 0;
	}				
	.b-text td {
		border-top:1px solid #e9e9e9;
		border-right:1px solid #e9e9e9;
		color: #687734;
	}
	.b-text tr:nth-child(2) td {
		border-top:0px solid #e9e9e9;
	}		
	.b-text td:last-child {
		border-right:0px solid #e9e9e9;
	}		
	.b-text tr:last-child td:last-child  {
		border-radius: 0 0 6px;
	}	
	.b-text tr:last-child td:first-child  {
		border-radius: 0 0 0 6px;
	}				
	.b-text tr:nth-child(2n+1){
		background-color: #F7F3E9;
	}
	.b-text tr:nth-child(2n){
		background-color: #fdfaf2;
	}
.b-cart {
	
}
	.b-ordering {
		width: 100%;
		display: inline-block;
		vertical-align: top;
		margin-right: 0;
		margin-bottom: 24px;
	}
		.b-ordering-buttons {
			width: 100%;
		}
		.b-ordering-process {
    		/* background-color: #FAF7EF; */
    		/* border-radius: 10px; */
    		/* height: 71px; */
    		/* box-sizing: border-box; */
    		/* padding: 0 28px; */
    		/* margin-bottom: 32px; */
  }
			.b-ordering-process ul {
				/* counter-reset: cnt 0; */
				/* display: table; */
				/* height: 100%; */
			}
			.b-ordering-process li {
				/* display: table-cell; */
				/* vertical-align: middle; */
				/* cursor: pointer; */
				padding-left: 15px;
			}
			.current-step {
				color: #687734 !important;
			}
			.current-step  li{
				background-color: #687734 !important;
			}			
			.current-step:before{
				background-color: #687734 !important;
			}			
			.b-ordering-process>ul>li:before {
				/* counter-increment: cnt; */
				/* content: counter(cnt); */
				/* display: inline-block; */
				/* width: 31px; */
				/* height: 31px; */
				/* border-radius: 50%; */
				/* line-height: 31px; */
				/* background-color: #a0762c; */
				/* color: #faf7ef; */
				/* text-align: center; */
				/* margin-right: 9px; */
			}
			.b-ordering-process .b-dots {
				/* display: inline-block; */
				/* height: initial; */
				/* margin: 0 20px; */
			}
				.b-ordering-process .b-dots li {
					display: inline-block;
					width: 8px;
					height: 8px;
					border-radius: 50%;
					background-color: #a0762c;
					margin: 0 9px;
				}
		.b-ordering-items {
			display: none;
		}
		.b-ordering-items-table {
			width: 100%;
			border-collapse: collapse;
			margin-bottom: 32px;
		}
			.b-ordering-items-table-title {
				height: 26px;
				border-bottom: 1px solid #f2ebda;
			}
				.b-ordering-items-table-title h4 {
					display: table-cell;
					/* font-size: 12px; */
					/* color: #4A4A4A; */
					/* padding-right: 0; */
					/* vertical-align: initial; */
				}
				.b-ordering-items-table-title .b-cart-item-price {
					padding-right: 9px !important;
				}
			.b-ordering-items-table-row {
				width: 100%;
				border-collapse: collapse;
				border-bottom: 1px solid #f2ebda;
			}
				.b-ordering-items-table p {
					font-size: 14px;
					color: #4a4a4a;
					box-sizing: border-box;
					vertical-align: middle;
				}
					.b-ordering-items-table p:before {
						color: #4a4a4a;
						position: absolute;
						right: 0px;
						line-height: 21px;
						font-size: 11px;
					}				
				.b-cart-item-img-name {
					width: 52%;
					vertical-align: middle;
					padding: 17px 0;
				}
				.b-cart-item-name {
					display: inline-block;
					padding: 0 !important;
					width: calc(100% - 91px);
					height: initial !important;
					text-align: left !important;
				}
				.b-cart-item-img-name .b-img {
					height: 62px;
					width: 68px;
					display: inline-block;
					vertical-align: middle;
					margin-right: 17px;
				}
				.b-cart-item-price {
					padding-right: 14px !important;
					text-align: right;
				}
				.b-cart-item-discount {
    				text-align: center;
    				display: none !important;
    			}
				.b-cart-item-quantity {
					vertical-align: middle;
					text-align: center;
				}
					.b-cart-item-quantity-counter {
						width: 94px;
						height: 32px;
						margin: 0 auto;
						/* border: 1px solid #687734; */
						/* border-radius: 5px; */
						box-sizing: border-box;
						/* overflow: hidden; */
					}				
						.b-quantity-minus {
							height: 29px;
							width: 30px;
							background-color: #687734;
							color: #ffffff;
							display: inline-block;
							line-height: 28px;
						}
						.b-quantity-digit {
							display: inline-block;
						}
						.b-quantity-plus {
							background-color: #687734;
							color: #ffffff;
							width: 30px;
							display: inline-block;
							height: 29px;
							line-height: 28px;
							vertical-align: top;
						}
				.b-cart-item-cost {
					padding-right: 14px;
					text-align: right;
				}
		.b-cart-info {
			width: 100%;
			display: inline-block;
			vertical-align: top;
			box-sizing: border-box;
			border: 2px solid #F2EBDA;
			border-radius: 15px;
			padding: 12px 24px;
			margin-bottom: 24px;
		}
			.b-cart-info-table {
				border-collapse: collapse;
				display: table;
				width: 100%;
			}
			.b-cart-info-table-row {
				width: 100%;
				height: 44px;
				border-bottom: 1px solid #f2ebda;
				display: table;
			}
			.b-cart-info-table-row:last-child {
				border:none;
				height: 56px;
			}
			.b-cart-info-table-row:last-child p:before {
				font-size: 17px;
				line-height: 29px;
				color: #687734;
			}
				.b-cart-info-table-row p{
					font-size: 16px;
					display: table-cell;
					vertical-align: middle;
					padding-right: 14px;
				}	
					.b-cart-info-table-row p:before {
						color: #4a4a4a;
						position: absolute;
						right: 0px;
						line-height: 23px;
						font-size: 13px;
					}
					p.b-cart-info-summ-title {

					}
					p.b-cart-item-summ {
						color: #4a4a4a;
						text-align: right;
					}
					p.b-cart-delivery-title {

					}
					p.b-cart-delivery {
						color: #4a4a4a;
						text-align: right;
					}
					p.b-cart-summ-title {

					}
					p.b-cart-summ {
						font-size: 24px;
						color: #687734;
						text-align: right;
						/* padding-top: 6px; */
					}
					.b-ordering-delivery {
						display: none;
						color: #4A4A4A;
						font-size: 14px;
					}
						.b-ordering-delivery h4	{
							font-size: 12px;
							color: #4A4A4A;
							margin-bottom: 7px;
						}
						.b-ordering-delivery span {
							position: relative;
						}
						.b-ordering-delivery span:before {
							position: absolute;
							color: #4a4a4a;
							font-size: 11px;
							line-height: 20px;
							right: -20px;
						}
					.b-radio {
						display: inline-block;
						cursor: pointer;
						position: relative;
						padding-left: 17px;
						margin-right: 15px;
						margin-bottom: 9px;
					}
					input[type=radio]{
						display: none;
					}
					.b-radio:before	{
						content: "";
						display: inline-block;
						width: 11px;
						height: 11px;
						margin-right: 10px;
						position: absolute;
						box-sizing: border-box;
						left: 0;
						bottom: 4px;
						background-color: #ffffff;
						border: 1px solid #D8D8D8;
						border-radius: 50%;
					}
					.b-radio.delivery-error:before {
						box-shadow: 0px 0px 0px 1px #ff0000;
					}
					input[type=radio]:checked + label:after {
					    content: "";
					    display: block;
					    position: absolute;
					    top: 6px;
					    left: 2px;
					    width: 7px;
					    height: 7px;
					    background-color: #687734;
					    font-size: 24px;
					    text-align: center;
					    line-height: 10px;
					    border-radius: 50%;
					    text-indent: 1px;
					}
					input[type=radio]:checked + label:before {
					    content: "";
					    color: #687734;
					    font-size: 24px;
					    text-align: center;
					    line-height: 10px;
					    border-color: #687734;
					    text-indent: 1px;
					}	
					.b-ordering-delivery-back {
						font-size: 14px;
						color: #687734;
						line-height: 26px;
					}
					.b-ordering-delivery-back:before {
						content: "\2190";
						margin-right: 5px;
					}
				.b-ordering-pay {
					display: none;
					width: 100%;
				}
				.b-ordering-pay-body{
					width: 100%;
					height: 300px;
					border: 1px solid #687734;
					border-radius: 15px;
				}
.b-category {

}
	.b-category-cont {

	}
		.b-category ul {

		}
			.b-category .b-text li {width: calc((100% - 58px)/3);}
			.b-category .b-text li:nth-child(even) {
				margin-right: 25px;
			}
			.b-category .b-text li:nth-child(3n) {
				margin-right: 0;
			}						
			.b-category h3 {
				/* font-size: 18px; */
			}	
			.b-category .b-text li {
				/* height: 227px; */
			}		
			.b-category-img {/* height: 112px; */}
			.b-category-item-valign {
				height: 79px;
			}			
			.b-category .b-text li:nth-child(4n) {
			}
				.b-category ul a{
				}
				.b-category ul li:hover{
				}
				.b-category-item {
				}
					.b-category-img {
						/* background-repeat: no-repeat; */
						/* background-position: 50% 50%; */
						/* width: 100%; */
						/* height: 140px; */
					}
					.b-category-item-valign {
						display: table;
						height: 62px;
						width: 100%;
					}
						.b-category h3 {
							display: table-cell;
							vertical-align: middle;
							margin: 0;
							padding: 0;
							text-align: center;
						}

.b-contacts-page {

}
	.b-contacts-page .nav-map-city {

	}
		.b-contacts-page .nav-map-city li {
			display: inline-block;
			background-color: #ede2c5;
			height: 36px;
			line-height: 36px;
			border-top-left-radius: 15px;
			border-top-right-radius: 15px;
			border-radius: 10px;
			padding: 0 24px;
			cursor: pointer;
			margin-bottom: 10px;
			margin-right: 7px;
		}	
		.nav-map-city-active {
			background-color: #687734 !important;
			color: #FFF;
		}
	.b-adresses {
		margin-bottom: 24px;
		background-color: #f7f3e9;
		border-radius: 10px;
		box-sizing: border-box;
		padding: 15px 24px 2px;
	}
		.b-adresses .tomsk {

		}
		.b-adresses .barnaul {

		}
		.b-adresses .novosibirsk {

		}
		.b-adresses>div {
			display: none;
		}
		.b-adresses .selected {
			display: block;
		}
		.b-adresses ul {
			display: inline-block;
			width: calc((100% - 52px)/2);
			/* margin-bottom: 16px; */
			vertical-align: top;
			margin-right: 24px;
		}
			.b-adresses li {
				margin-bottom: 20px;
			}
				.b-adresses a {
					border-bottom: 1px dashed #979797;
					line-height: 24px;
					margin-bottom: 10px;
				}
				.b-adresses a:hover {
					border-bottom: none;
				}
				.b-adresses a.active {
					color: #A0762C;
					border-bottom: none;
				}
	.b-map {
		position: relative;
	}
		.b-map-cont {
			height: 600px;	
		}
			.b-map-adress {
				width: 260px;
				height: 458px;
				position: absolute;
				top: 61px;
				right: 10px;
				background-color: #ffffff;
				box-sizing: border-box;
				box-shadow: 0px 4px 20px rgba(0,0,0,0.2);
				padding: 25px 30px;
				display: none;
			}
				.b-btn-close {
					position: absolute;
					top: 6px;
					right: 6px;
					display: block;
					width: 36px;
					height: 36px;
				}
				.b-btn-close:hover:before {
				}
				.b-map-adress a {
					line-height: 26px;
				}
				.b-map-adress h2 {
				}
				.b-map-adress span {
					font-size: 14px;
					line-height: 22px;
				}
				.b-map-adress span:after {
					display: block;
					content: '';
					width: 40px;
					height: 2px;
					margin-top: 16px;
				}
				.b-map-adress p {
    				line-height: 26px;
    }
				.b-map-adress:after {
					width: 100%;
					height: 25px;
				}
.modern-page-navigation{
	margin-top: 25px;
	margin-bottom: -15px;
	font-size: 14px;
}
	.modern-page-title{
		margin-right: 10px;
		display: none;
	}
	.modern-page-navigation a,
	.modern-page-navigation span{
		border: none !important;
	}
	.modern-page-dots{
		padding: 0px !important;
	}
	.modern-page-all{
		display: none;
	}
	.modern-page-navigation .modern-page{
		width: 40px;
		font-size: 18px;
		height: 40px;
		display: inline-block;
		padding: 0px !important;
		text-align: center;
		line-height: 40px;
		border-radius: 100px;
		border: none !important;
	}
	.modern-page-navigation a.modern-page:hover{
		background-color: #f2ebda;
		color: #A0762C;
	}
	.modern-page-navigation span.modern-page-current{
		background-color: #687734;
		color: #FFF;
	}
	.modern-page-first{

	}
	.modern-page-next,
	.modern-page-previous{
		display: none;
	}
	.modern-page-all{

	}
.b-breadcrumbs{
	padding-top: 0px;
	margin-bottom: 20px;
	font-size: 14px;
}
	.b-breadcrumbs li{
		list-style: none;
		float: left;
	}
		.b-breadcrumbs li a{
			position: relative;
			text-decoration: underline;
			margin-right: 21px;
		}
			.b-breadcrumbs li a:after{
				position: absolute;
				content: "/";
				right: -15px;
				top: 0px;
			}
		.b-breadcrumbs li span{

		}
.b-popup{
	padding: 25px;
	width: calc(100% - 40px);
}
.b-city-popup{
	width: 500px;
}
	.b-popup h3{
		margin-bottom: 16px;
	}
	.b-popup p{
		margin-bottom: 25px;
	}
	.b-city-nav{
		margin-top: 30px;
		text-align: right;
	}
		.b-city-nav .b-btn-green{
			margin-left: 10px;
		}
		.b-btn-green.disabled{
		}
		.b-btn-green.disabled:hover{
		}
@media screen and (max-width: 660px) {
	.b-category-img {
		/* background-size: contain; */
		/* width: 70%; */
		/* margin: 0 auto; */
		/* height: 100px; */
	}
	.b-category .b-text li {
		/* height: 214px; */
		width: calc((100% - 29px)/2);
		min-width: 182px;
		margin-right: 25px !important;
	}
	.b-category .b-text li:nth-child(4n) {}
	.b-category .b-text li:nth-child(3n) {
	}
	.b-category .b-text li:nth-child(even) {
		margin-right: 0 !important;
	}	
	.b-adresses ul {
		width: 100%;
		display: block;
	}
}
@media screen and (max-width: 640px) {
	.b-footer-col:nth-child(2) {
		display: none;
	}
	.b-cart-item-quantity-counter {
		width: 32px;
		height: 90px;
	}
	/* Spinner specific style fixes */
	.ui-controlgroup-vertical .ui-spinner-input {

		/* Support: IE8 only, Android < 4.4 only */
		width: 75%;
		width: calc( 100% - 2.4em );
	}
	.ui-controlgroup-vertical .ui-spinner .ui-spinner-up {
		border-top-style: solid;
	}

	.ui-checkboxradio-label .ui-icon-background {
		box-shadow: inset 1px 1px 1px #ccc;
		border-radius: .12em;
		border: none;
	}
	.ui-checkboxradio-radio-label .ui-icon-background {
		width: 16px;
		height: 16px;
		border-radius: 1em;
		overflow: visible;
		border: none;
	}
	.ui-checkboxradio-radio-label.ui-checkboxradio-checked .ui-icon,
	.ui-checkboxradio-radio-label.ui-checkboxradio-checked:hover .ui-icon {
		background-image: none;
		width: 8px;
		height: 8px;
		border-width: 4px;
		border-style: solid;
	}
	.ui-checkboxradio-disabled {
		pointer-events: none;
	}
	.ui-spinner {
		position: relative;
		display: inline-block;
		overflow: hidden;
		padding: 0;
		vertical-align: middle;
		width: 30px;
		border-radius: 5px !important;
		height: 90px;
		border: 1px solid #687734 !important;
	}
	.ui-spinner-input {
		border: none;
		background: none;
		color: inherit;
		padding: .222em 0;
		margin: .2em auto;
		vertical-align: middle;
		/* margin-left: .4em; */
		/* margin-right: 2em; */
		width: 30px;
		text-align: center;
		display: inline-block;
		margin-top: 33px;
	}
	.ui-spinner-button {
		width: 1.6em;
		height: 50%;
		font-size: .5em;
		padding: 0;
		margin: 0;
		text-align: center;
		position: absolute;
		cursor: default;
		display: block;
		overflow: hidden;
		right: 0;
	}
	/* more specificity required here to override default borders */
	.ui-spinner a.ui-spinner-button {
		border-top-style: none;
		border-bottom-style: none;
		border-right-style: none;
		position: absolute;
	}
	.ui-spinner-up {
		top: 0;
		right: 0px;
		height: 30px;
		width: 31px;
		background-color: #687734 !important;
		border-radius: 0 !important;
	}
	.ui-spinner-down {
		bottom: 0;
		left: -1px;
		background-color: #687734 !important;
		border-radius: 0 !important;
		height: 30px;
		width: 31px;
	}
	/* positioning */
	.ui-icon-triangle-1-n {background-position: 0 -16px;content: "weqw";color: #ffffff;font-size: 16px;text-align: center;line-height: 16px;font-family: "RobotoSlab-Regular";}
	.ui-icon-triangle-1-n:before{content:"+";display: inline-block;color: #ffffff !important;font-family: "RobotoSlab-Bold";font-size: 16px;line-height: 16px;position: absolute;left: 0;top: 0;width: 16px;height: 16px;text-align: center;text-indent: initial;}
	.ui-icon-triangle-1-s:before{content: '-';display: inline-block;color: #ffffff !important;font-family: "RobotoSlab-Bold";font-size: 16px;line-height: 16px;position: absolute;left: 0;top: 0;width: 16px;height: 16px;text-align: center;text-indent: initial;}

	/* Misc visuals
	----------------------------------*/

	/* Corner radius */
	.ui-corner-all,
	.ui-corner-top,
	.ui-corner-left,
	.ui-corner-tl {
		border-top-left-radius: 3px;
	}
	.ui-corner-all,
	.ui-corner-top,
	.ui-corner-right,
	.ui-corner-tr {
		border-top-right-radius: 3px;
	}
	.ui-corner-all,
	.ui-corner-bottom,
	.ui-corner-left,
	.ui-corner-bl {
		border-bottom-left-radius: 3px;
	}
	.ui-corner-all,
	.ui-corner-bottom,
	.ui-corner-right,
	.ui-corner-br {
		border-bottom-right-radius: 3px;
	}

	/* Overlays */
	.ui-widget-overlay {
		background: #aaaaaa;
		opacity: .3;
		filter: Alpha(Opacity=30); /* support: IE8 */
	}
	.ui-widget-shadow {
		-webkit-box-shadow: 0px 0px 5px #666666;
		box-shadow: 0px 0px 5px #666666;
	}
}
@media screen and (max-width: 580px) {
	.b-product-card {
		width: 100%;
		height: auto;
	}
	.b-news-item{
		width: 100%;
		margin-right: 0px;
	}
	.b-product-card span{
		font-size: 30px;
		width: calc(100% - 148px);
	}
	.b-product-card .icon-rub{
		width: 20px;
    	height: 21px;
	}
	.b-product-card .icon-rub:before{
		font-size: 22px;
	}
	.b-product-card .b-btn-green{
		font-size: 16px;
		padding: 14px 24px 12px 24px;
	}
	.b-product-card h3 {
	    font-size: 16px;
	    line-height: 24px;
	    margin-bottom: 15px;
	    height: auto;
	}
	.b-map-cont {
		height: 600px;	
	}
		.b-map-adress {
			width: 90%;
			height: 300px;
			position: absolute;
			top: initial;
			bottom: 10px;
			right: 0;
			margin-right: calc((100% - 90%)/2);
			background-color: #ffffff;
			box-sizing: border-box;
			box-shadow: 0px 4px 20px rgba(0,0,0,0.2);
			padding: 14px 30px;
			display: none;
		}
			.b-btn-close {
				position: absolute;
				top: 6px;
				right: 6px;
				display: block;
				width: 36px;
				height: 36px;
			}
			.b-btn-close:hover:before {
			}
			.b-map-adress a {
				line-height: 24px;
				font-size: 14px;
			}
			.b-map-adress h2 {
			font-size: 20px;
			}
			.b-map-adress span {
				font-size: 14px;
				line-height: 22px;
			}
			.b-map-adress span:after {
				display: none;
				content: '';
				width: 40px;
				height: 2px;
				margin-top: 16px;
			}
			.b-map-adress p {
				line-height: 24px;
				font-size: 14px;
			}
			.b-map-adress:after {
				display: none;
				width: 100%;
				height: 25px;
			}
			.b-map-adress br {
			}
}
@media screen and (max-width: 490px) {
	.b-footer {
		/* background-image: none; */
		/* height: initial; */
		/* padding-bottom: 24px; */
	}
	.b-footer .b-block {/* padding: 0; *//* width: 100%; */}
	.b-footer-menu-cont {
		height: initial;
		/* box-shadow: none; */
		/* border-radius: 0; */
		/* margin-bottom: 24px; */
	}
	.b-logo-contacts {
		display: inline-block;
		float: none !important;
		vertical-align: top;
		margin-right: 24px;
		margin-bottom: 24px;
	}
	.b-footer-menu {
		display: inline-block;
		float: none !important;
		vertical-align: top;
		min-width: 120px;
		width: initial;
		max-width: 200px;
	}
	.b-footer-col {
		display: block;
		margin right: 0;
		margin-right: 0;
		width: initial;
		padding-left: 0;
	}
	.b-copiright {
		width: 90%;
		margin: 0 auto;
	}
}
@media screen and (max-width: 450px) {
	.b-category .b-text li {width: 240px;margin-left: calc((100% - 240px)/2);}
	.b-category .b-text li:nth-child(even) {
		margin-right: 25px;
	}
	.b-category .b-text li:nth-child(3n) {
		margin-right: 0;
	}						
	.b-category h3 {
		/* font-size: 18px; */
	}	
	.b-category .b-text li {
		/* height: 227px; */
	}		
	.b-category-img {/* height: 112px; */}
	.b-category-item-valign {
		height: 79px;
	}			
	.b-category .b-text li:nth-child(4n) {
	}
}